{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Alumno</title>
    <link rel="stylesheet" href="{% static 'estilos/formulario.css' %}">
</head>
<body>
    <div class="formulario-contenedor">
        <h1>Crear Alumno</h1>
        <a class="btn" href="{% url 'lista_alumnos' %}">Ver todos los alumnos</a>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
       
    </div>
</body>
</html>
