{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilos/formulario.css' %}">
    <title>Crear Nota</title>
    
</head>
<body>
    <div class="formulario-contenedor">
        <h1>Crear Nota</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
        <a class="btn" href="{% url 'lista_notas' %}">Ver todas las notas</a>
    </div>
</body>
</html>
